src/main/resources/wsdl/ServicioSAMPort.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.vista.sam.vida.bice.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.vista.sam.vida.bice.cl/" name="ServicioSAMService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.vista.sam.vida.bice.cl/" schemaLocation="http://aplicaciones-desa.bicevida.cl:80/si12/MandatoSAM/ServicioSAMPort?xsd=1"/>
</xsd:schema>
</types>
<message name="validaAutorizacion">
<part name="parameters" element="tns:validaAutorizacion"/>
</message>
<message name="validaAutorizacionResponse">
<part name="parameters" element="tns:validaAutorizacionResponse"/>
</message>
<message name="buscarDetalleProductos">
<part name="parameters" element="tns:buscarDetalleProductos"/>
</message>
<message name="buscarDetalleProductosResponse">
<part name="parameters" element="tns:buscarDetalleProductosResponse"/>
</message>
<message name="modificaMandato">
<part name="parameters" element="tns:modificaMandato"/>
</message>
<message name="modificaMandatoResponse">
<part name="parameters" element="tns:modificaMandatoResponse"/>
</message>
<message name="agregarSegundaPoliza">
<part name="parameters" element="tns:agregarSegundaPoliza"/>
</message>
<message name="agregarSegundaPolizaResponse">
<part name="parameters" element="tns:agregarSegundaPolizaResponse"/>
</message>
<message name="registrarTracking">
<part name="parameters" element="tns:registrarTracking"/>
</message>
<message name="registrarTrackingResponse">
<part name="parameters" element="tns:registrarTrackingResponse"/>
</message>
<message name="buscarMandatosById">
<part name="parameters" element="tns:buscarMandatosById"/>
</message>
<message name="buscarMandatosByIdResponse">
<part name="parameters" element="tns:buscarMandatosByIdResponse"/>
</message>
<message name="buscarMandatosByRut">
<part name="parameters" element="tns:buscarMandatosByRut"/>
</message>
<message name="buscarMandatosByRutResponse">
<part name="parameters" element="tns:buscarMandatosByRutResponse"/>
</message>
<message name="buscarMandatoByPoliza">
<part name="parameters" element="tns:buscarMandatoByPoliza"/>
</message>
<message name="buscarMandatoByPolizaResponse">
<part name="parameters" element="tns:buscarMandatoByPolizaResponse"/>
</message>
<message name="notificaNominaCrm">
<part name="parameters" element="tns:notificaNominaCrm"/>
</message>
<message name="notificaNominaCrmResponse">
<part name="parameters" element="tns:notificaNominaCrmResponse"/>
</message>
<message name="complementarMandatoOnbase">
<part name="parameters" element="tns:complementarMandatoOnbase"/>
</message>
<message name="complementarMandatoOnbaseResponse">
<part name="parameters" element="tns:complementarMandatoOnbaseResponse"/>
</message>
<message name="buscarMandatosByNumeroPropuesta">
<part name="parameters" element="tns:buscarMandatosByNumeroPropuesta"/>
</message>
<message name="buscarMandatosByNumeroPropuestaResponse">
<part name="parameters" element="tns:buscarMandatosByNumeroPropuestaResponse"/>
</message>
<message name="buscaPropuestaEstado">
<part name="parameters" element="tns:buscaPropuestaEstado"/>
</message>
<message name="buscaPropuestaEstadoResponse">
<part name="parameters" element="tns:buscaPropuestaEstadoResponse"/>
</message>
<message name="validaFormulario">
<part name="parameters" element="tns:validaFormulario"/>
</message>
<message name="validaFormularioResponse">
<part name="parameters" element="tns:validaFormularioResponse"/>
</message>
<message name="enviarMandatoAction">
<part name="parameters" element="tns:enviarMandatoAction"/>
</message>
<message name="enviarMandatoActionResponse">
<part name="parameters" element="tns:enviarMandatoActionResponse"/>
</message>
<message name="crearMandato">
<part name="parameters" element="tns:crearMandato"/>
</message>
<message name="crearMandatoResponse">
<part name="parameters" element="tns:crearMandatoResponse"/>
</message>
<portType name="ServicioSAM">
<operation name="validaAutorizacion">
<input wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/validaAutorizacionRequest" message="tns:validaAutorizacion"/>
<output wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/validaAutorizacionResponse" message="tns:validaAutorizacionResponse"/>
</operation>
<operation name="buscarDetalleProductos">
<input wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/buscarDetalleProductosRequest" message="tns:buscarDetalleProductos"/>
<output wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/buscarDetalleProductosResponse" message="tns:buscarDetalleProductosResponse"/>
</operation>
<operation name="modificaMandato">
<input wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/modificaMandatoRequest" message="tns:modificaMandato"/>
<output wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/modificaMandatoResponse" message="tns:modificaMandatoResponse"/>
</operation>
<operation name="agregarSegundaPoliza">
<input wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/agregarSegundaPolizaRequest" message="tns:agregarSegundaPoliza"/>
<output wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/agregarSegundaPolizaResponse" message="tns:agregarSegundaPolizaResponse"/>
</operation>
<operation name="registrarTracking">
<input wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/registrarTrackingRequest" message="tns:registrarTracking"/>
<output wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/registrarTrackingResponse" message="tns:registrarTrackingResponse"/>
</operation>
<operation name="buscarMandatosById">
<input wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/buscarMandatosByIdRequest" message="tns:buscarMandatosById"/>
<output wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/buscarMandatosByIdResponse" message="tns:buscarMandatosByIdResponse"/>
</operation>
<operation name="buscarMandatosByRut">
<input wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/buscarMandatosByRutRequest" message="tns:buscarMandatosByRut"/>
<output wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/buscarMandatosByRutResponse" message="tns:buscarMandatosByRutResponse"/>
</operation>
<operation name="buscarMandatoByPoliza">
<input wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/buscarMandatoByPolizaRequest" message="tns:buscarMandatoByPoliza"/>
<output wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/buscarMandatoByPolizaResponse" message="tns:buscarMandatoByPolizaResponse"/>
</operation>
<operation name="notificaNominaCrm">
<input wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/notificaNominaCrmRequest" message="tns:notificaNominaCrm"/>
<output wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/notificaNominaCrmResponse" message="tns:notificaNominaCrmResponse"/>
</operation>
<operation name="complementarMandatoOnbase">
<input wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/complementarMandatoOnbaseRequest" message="tns:complementarMandatoOnbase"/>
<output wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/complementarMandatoOnbaseResponse" message="tns:complementarMandatoOnbaseResponse"/>
</operation>
<operation name="buscarMandatosByNumeroPropuesta">
<input wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/buscarMandatosByNumeroPropuestaRequest" message="tns:buscarMandatosByNumeroPropuesta"/>
<output wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/buscarMandatosByNumeroPropuestaResponse" message="tns:buscarMandatosByNumeroPropuestaResponse"/>
</operation>
<operation name="buscaPropuestaEstado">
<input wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/buscaPropuestaEstadoRequest" message="tns:buscaPropuestaEstado"/>
<output wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/buscaPropuestaEstadoResponse" message="tns:buscaPropuestaEstadoResponse"/>
</operation>
<operation name="validaFormulario">
<input wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/validaFormularioRequest" message="tns:validaFormulario"/>
<output wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/validaFormularioResponse" message="tns:validaFormularioResponse"/>
</operation>
<operation name="enviarMandatoAction">
<input wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/enviarMandatoActionRequest" message="tns:enviarMandatoAction"/>
<output wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/enviarMandatoActionResponse" message="tns:enviarMandatoActionResponse"/>
</operation>
<operation name="crearMandato">
<input wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/crearMandatoRequest" message="tns:crearMandato"/>
<output wsam:Action="http://ws.vista.sam.vida.bice.cl/ServicioSAM/crearMandatoResponse" message="tns:crearMandatoResponse"/>
</operation>
</portType>
<binding name="ServicioSAMPortBinding" type="tns:ServicioSAM">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="validaAutorizacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarDetalleProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificaMandato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarSegundaPoliza">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarTracking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarMandatosById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarMandatosByRut">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarMandatoByPoliza">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="notificaNominaCrm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="complementarMandatoOnbase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarMandatosByNumeroPropuesta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscaPropuestaEstado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validaFormulario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarMandatoAction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearMandato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioSAMService">
<port name="ServicioSAMPort" binding="tns:ServicioSAMPortBinding">
<soap:address location="http://aplicaciones-desa.bicevida.cl:80/si12/MandatoSAM/ServicioSAMPort"/>
</port>
</service>
</definitions>